.menuItems {
    display: inline-flex;
    width: 100%;
    margin-block-end: 3em;
    justify-content: flex-start;
  } 

.dropbtn {
    background-color: #0c1d0c34;
    color: rgba(0, 0, 0, 0.775);
    padding: 16px;
    margin: .3vw;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .btn {
    background-color: #0c1d0c34;
    color: rgba(0, 0, 0, 0.775);
    padding: 16px;
    margin: .3vw;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 0em;
    transition: height 0.3s ease-in;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    height: 0em;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f189;
    border-radius: 16px;
    max-height: 1em;
  }

  .dropdown:hover .dropdown-content a {
    display: block;
    height: 1em;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    height: min-content;
    margin-top: .2em;
    background: rgba(208, 224, 201, 0.359);
    box-shadow: 0 0 3em rgb(246, 246, 246);
    border: dotted rgba(0, 0, 0, 0.188);
    border-radius: 16px;
    font-size: larger;
    font-weight: lighter;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn, .btn:hover {
    box-shadow: 0 0 3em rgba(246, 246, 246, 0.459);
    text-shadow: 0px 2px 3px rgba(255, 253, 253, 0.184);
    background-color: rgba(8, 57, 15, 0.526);
    opacity: .5;
  }